---
# Main scss file
---
@charset "utf-8";

@import
'normalize',
'solo',
'syntax';

.chart-legend {
  ul {
    list-style:none;
    li span {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}
